@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    .big-text {
        color: white;
    }
    .medium-text {
        color: white;
    }
    .small-text {
        color: white;
    }
    .alert {
        color: black;
    }
}