<!DOCTYPE html>
<html lang="en_us">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        {% if request.user_agent.is_pc %}
        <link rel="stylesheet" type="text/css" href="/static/mydesktopstyle.css">
        {% else %}
        <link rel="stylesheet" type="text/css" href="/static/mymobilestyle.css">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/static/common.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success small-text">
                        {{ message }}
                    </div>
                {% elif message.tags == "error" %}
                    <div class="alert alert-danger small-text">
                        {{ message }}
                    </div>
                {% elif message.tags == "warning" %}
                    <div class="alert alert-warning small-text">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-primary small-text">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>
