<!DOCTYPE html>
<html lang="en_us">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% if request.user_agent.is_pc %}
        <link rel="stylesheet" type="text/css" href="/static/mydesktopstyle.css">
        {% else %}
        <link rel="stylesheet" type="text/css" href="/static/mymobilestyle.css">
        {% endif %}
        
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success"}>
                        {{ message }}
                    </div>
                {% elif message.tags == "error" %}
                    <div class="alert alert-danger"}>
                        {{ message }}
                    </div>
                {% elif message.tags == "warning" %}
                    <div class="alert alert-warning"}>
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-primary"}>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>