{% extends "base.html" %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th class="small-text">Uploader</th>
            <th class="small-text">Media</th>
        </tr>
    </thead>
    <tbody>
    {% for upload in media %}
        <tr>
            <td class="small-text">{{ upload.uploader }}</td>
            <td class="small-text"><a href="/player/?media={{ upload.title }}">{{ upload.title }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}