{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div style="text-align: center">
        <div class="big-text">Password Reset</div>
    </div>
    <form action="/resetpassword/" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="form-group">
                <label class="small-text" for="password">New Password:</label>
                <input class="form-control" type="password" id="password" name="password">
            </div>
            <input type="submit" class="btn btn-danger" value="Reset Password">
        </div>
    </form
{% endblock %}