{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div style="text-align: center">
        <div class="big-text">Password Reset</div>
    </div>
    <form action="/resetpassword/" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="mb-3">
                <label class="small-text" for="oldpassword">Old Password:</label>
                <input class="form-control" type="password" id="oldpassword" name="oldpassword" required>
            </div>
            <div class="mb-3">
                <label class="small-text" for="password">New Password:</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-danger" value="Reset Password">
            </div>
        </div>
    </form
{% endblock %}