{% extends "base.html" %}

{% block title %}Media Player{% endblock %}

{% block content %}
<div class="small-text" id="error"></div>
{% if video %}
<video id="player" height="500" controls playsinline></video>
{% else %}
<audio id="player" controls></audio>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
    var id = new URLSearchParams(new URL(window.location.href).search).get("media");
    var player = document.getElementById("player");
    if (Hls.isSupported()) {
        var hls = new Hls();
        hls.attachMedia(player);
        hls.on(Hls.Events.MEDIA_ATTACHED, function() {
            hls.loadSource("/media/" + id + "/media.m3u8");
        });
    }
    else if (player.canPlayType("application/vnd.apple.mpegurl")){
        player.src = "/media/" + id + "/media.m3u8";
    }
    else {
        var warndiv = document.getElementById("error")
        warndiv.classList.add("alert", "alert-danger")
        warndiv.innerHTML = "Your browser does not support HLS.js.";
    }
</script>
{% endblock %}
