{% extends "base.html" %}

{% block title %}Media Player{% endblock %}

{% block content %}
<div class="small-text" id="warning"></div>
<video id="video" height="500" controls playsinline></video>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
    var id = new URLSearchParams(new URL(window.location.href).search).get("media");
    var video = document.getElementById("video");
    if (Hls.isSupported()) {
        var hls = new Hls();
        hls.attachMedia(video);
        hls.on(Hls.Events.MEDIA_ATTACHED, function() {
            hls.loadSource("/media/" + id + "/media.m3u8");
        });
    }
    else {
        var warndiv = document.getElementById("warning")
        warndiv.classList.add("alert", "alert-warning")
        warndiv.innerHTML = "ERROR: Your browser does not support HLS.js.  This is probably due to watching on an Apple device.  The player will attempt to use Apple's native HLS stuff which might result in poor quality.  It's Apple's fault, not mine.";
        video.src = "/media/" + id + "/media.m3u8";
    }
</script>
{% endblock %}
